
.activityBox {
  margin: 20px;
  padding: 10px;
  background-color:black;
  width: fit-content;
}
.btnDelete {
  color:black;
  background-color: white;
  margin:5px;
}
.btnEdit{
  background-color: darkblue;
  color: white;
}
.textActivity{
  color: white;
}
.title {
  color: darkblue;
}
.fixedBlock{
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  z-index: 0;
}
.fixedList {
 position: relative;
 top:220px;
 z-index: -1;

}